AZURE_STORAGE_BLOB_URL=https://<storage-account>.blob.core.windows.net/
AZURE_KEY_VAULT_URL=https://<key-vault>.vault.azure.net/
AZURE_SERVICE_BUS_NAMESPACE=<namespace>.servicebus.windows.net
AZURE_SERVICE_BUS_CONNECTION=
TIECAMEL_SERVICE_TOKEN=
CONVEX_PUBLICATION_CALLBACK_URL=https://<convex-site>.convex.site/integrations/publication-callback
CONVEX_PROCESSING_CALLBACK_URL=https://<convex-site>.convex.site/integrations/processing-callback
CONVEX_INTEGRITY_CALLBACK_URL=https://<convex-site>.convex.site/integrations/integrity-callback
CONVEX_CALLBACK_SECRET=
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=https://<document-intelligence>.cognitiveservices.azure.com/
MALWARE_SCANNER_URL=
REQUIRE_MALWARE_SCANNER=false
SOLANA_NETWORK=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_KEY_VAULT_SECRET_NAME=solana-integrity-signer
ENABLE_ONEDRIVE=false
